<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function(){
        var includes = $('[data-include]');
        jQuery.each(includes, function(){
            var file = 'views/include/' + $(this).data('include') + '.html';
            $(this).load(file);
        });
    });
    </script>
</head>
<body>

<a href="?lang=en">English</a> |
<a href="?lang=cz">Česky</a>

<h1>Users list</h1>
<div th:if="${#lists.isEmpty(userList)}">
    No Users to display
</div>

<table th:if="${not #lists.isEmpty(userList)}" class=".table-striped .table-hover">
    <tr>
        <td/>ID</td>
        <td/>FIRSTNAME</td>
        <td/>LASTNAME</td>
        <td/>EMAIL</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"/></td>
        <td th:text="${user.firstName}"/></td>
        <td th:text="${user.lastName}"/></td>
        <td th:text="${user.email}"/></td>
    </tr>
</table>

<div data-include="header"></div>
</body>
</html>